{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "jest"],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "airbnb-base",
    "prettier/@typescript-eslint",
    "prettier"
  ],
  "env": {
    "jest/globals": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "import/prefer-default-export": 0,
    "import/no-unresolved": "off"
  }
}
